<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FurniturefFOB.Properties.Settings.BaseInfoConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\BaseInfo.mdb"
            providerName="System.Data.OleDb" />
        <add name="FurniturefFOB.Properties.Settings.BaseInfoConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\x86\Debug\mdb\BaseInfo.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>